#rewardPopup{

position:fixed;

top:40px;
right:40px;

background:#111;

border:1px solid gold;

padding:20px;

border-radius:20px;

opacity:0;

transform:translateY(-50px);

transition:.4s;

z-index:9999;

}

#rewardPopup.show{

opacity:1;

transform:translateY(0);

}

.xp-bar{

height:10px;

background:#222;

border-radius:999px;

overflow:hidden;

}

#xpFill{

height:100%;

width:0;

background:linear-gradient(
90deg,
gold,
#ffe89a
);

}